@import 'global';

@mixin loading-scale($size: 4) {
  margin: 0 calc(#{size(small, $size)} / 4);
  flex: 0 0 size(small, $size);
  width: size(small, $size);
  height: size(small, $size);
}

@keyframes loading-dots {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}

:host {
  @extend %flex-column-center-xy;
  background-color: rgba(color(white), .8);
  z-index: z-index(modal);

  &.no-mask {
    background-color: transparent;
  }

  &.full-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  &.full-section {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.small {
    .dot {
      @include loading-scale(2);
    }
  }

  &.medium {
    .dot {
      @include loading-scale(3);
    }
  }
}

.dot {
  @include loading-scale();
  animation: loading-dots 1.7s infinite ease-in-out both;
  background-color: color(grey);
  border-radius: 50%;
  box-shadow: get-shadow(3);
  display: inline-block;

  &s {
    @extend %flex-row-center-xy;
  }

  @for $delay from 1 through 3 {
    &--#{$delay + 1} {
      animation-delay: $delay * .2s;
    }
  }
}