<agm-map  *ngIf="map"
          [streetViewControl]="false"
          [disableDefaultUI]="true"
          [zoomControl]="false"
          [latitude]="map.location.latitude"
          [longitude]="map.location.longitude"
          [zoom]="map.location.zoom"
          (mapClick)="addItem($event)">

  <agm-marker [latitude]="marker.latitude"
              [longitude]="marker.longitude"
              [title]="marker.title"
              *ngFor="let marker of map.markers">

    <agm-info-window *ngIf="marker.details" [maxWidth]="300">
      <h2>{{ marker.title }}</h2>
      <p>{{ marker.details }}</p>
    </agm-info-window>
  </agm-marker>
</agm-map>