html {
  font-size: 16px;
}

body {
  font: normal size(font, 14)/size(font, 20) $font-family;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

// Headings
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.1;
  user-select: none;
}

h1, .h1 {
  font-weight: 100;
}

h2, .h2 {
  font-weight: 100;
}

h3, .h3 {
  font-weight: 300;
}

h4, .h4 {
  font-weight: 300;
}

h5, .h5 {
  font-weight: 700;
}

a {
  transition: get-transition();
  user-select: none;
  text-decoration: none;
  color: color(primary);
}

// Inputs
.required {
  &--before::before,
  &::after {
    color: color(critical);
    content: '*';
  }

  &--before::before {
    margin-right: size(small);
  }

  &::after {
    margin-left: size(small);
  }
}