.mat {
  &-form-field {
    // @todo: check those since are not applied
    width: 100%;
    font-family: $font-family;
    font-size: size(font, 16);
  }

  &-button {
    &-wrapper {
      font-family: $font-family;
    }
  }

  &-card {
    color: inherit;
  }

  &-tooltip {
    font-size: size(font, 12);
  }
}

/// Remove material input underline.
/// * Must be added on wrapper (e.g. <cd-input>) *
.readonly {
  .mat-form-field-underline {
    display: none;
  }
}

/// Remove space for material input errors.
/// * Must be added on wrapper (e.g. <cd-input>) *
.no-errors {
  .mat-form-field {
    &-infix {
      border-top: none;
    }

    &-wrapper {
      padding-bottom: 0 !important;
    }

    &-underline {
      bottom: 0 !important;
    }

    &-subscript-wrapper {
      top: 100% !important;
    }
  }
}