$theme-palette: (
  50: color(primary-lighter),
  100: color(primary-lighter),
  200: color(primary-light),
  300: color(primary-light),
  400: color(primary-light),
  500: color(primary),
  600: color(primary-dark),
  700: color(primary-dark),
  800: color(primary-dark),
  900: color(primary-dark),
  A100: color(primary),
  A200: color(critical),
  A400: color(primary),
  A700: color(primary),
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white
  )
);