@import 'global';

:host {
  display: block;
  line-height: 1;

  & > * {
    display: block;
  }

  &.rounded {
    ::ng-deep {
      .mat {
        &-button,
        &-flat-button,
        &-raised-button,
        &-stroked-button {
          border-radius: size(dimension, 30);
        }
      }
    }
  }

  &.small {
    ::ng-deep {
      .mat {
        &-icon-button {
          @include generate-sizes(size(medium));
        }
      }
    }
  }

  &.big {
    ::ng-deep {
      .mat {
        &-button,
        &-flat-button,
        &-raised-button,
        &-stroked-button {
          min-width: size(dimension, 150);
          min-height: size(dimension, 60);
          padding: size(small) size(small, 4);
          font-size: size(font, 20);
        }
      }
    }
  }

  &.full {
    ::ng-deep {
      .mat {
        &-button,
        &-flat-button,
        &-raised-button,
        &-stroked-button {
          width: 100%;
        }
      }
    }
  }
}

::ng-deep button {
  &:focus {
    outline: none;
  }

  &.mat {
    &-button,
    &-flat-button,
    &-raised-button,
    &-stroked-button {
      min-width: 100px;
      font-weight: 600;
      border-radius: size(dimension, 10);
    }

    &-icon-button {
      &:not([disabled]):hover {
        shared-svg-icon {
          color: color(link);
          transition: get-transition();
        }
      }
    }
  }
}