<section class="pages">
  <a [class.active]="isMenuItemActive(item.route)"
     [routerLink]="item.route | route"
     queryParamsHandling="preserve"
     *ngFor="let item of navigationItems">
    <shared-svg-icon [icon]="item.icon" [size]="item.iconSize"></shared-svg-icon>
    <h2 *ngIf="item.label">{{ item.label }}</h2>
  </a>
</section>

<section class="admin">
  <cd-button>
    <button mat-icon-button>
      <shared-svg-icon icon='gear' [size]="'medium'"></shared-svg-icon>
    </button>
  </cd-button>

  <cd-button>
    <button mat-icon-button
            (click)="help()">
      <shared-svg-icon icon='gear' [size]="'medium'"></shared-svg-icon>
    </button>
  </cd-button>
</section>